<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/mainNavbar.css">
</head>
<body>
    <div class="header"></div>
    <div class="main-navbar"></div>
    <div class="container">
    </div>
    <script type="text/javascript" src="javascripts/header.js"></script>
    <script type="text/javascript" src="javascripts/mainNavbar.js"></script>
</body>
</html>
