<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>
<body>
    <%- include('./header.ejs') %>
    <%- include('./mainTabbar.ejs') %>
    <div class="container">
    </div>
</body>
</html>
