<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/normalize.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>kakaopage</title>
  </head>
  <body>
    <script type="module" src="javascripts/utils.js"></script>
    <script type="module" src="javascripts/data.js"></script>
    <script type="module" src="javascripts/genre-nav.js"></script>
    <script type="module" src="javascripts/webtoon.js"></script>
    <script type="module" src="javascripts/web-novel.js"></script>
    <script type="module" src="javascripts/main.js"></script>
    <div class="header">
      <div class="header__logo">kakaopage</div>
      <div class="header__status">
        <div class="search-bar"></div>
        <div class="user-status user-status--logout">
          <div class="user-status__cash-charge-button">캐쉬충전</div>
          <div class="user-status__login-button">로그인</div>
        </div>
        <!-- <div class="user-status user-status--login">puba님</div> -->
      </div>
    </div>
    <div class="header-nav">
      <ul class="header-nav__list"></ul>
    </div>
    <div class="content">
      <div class="carousel">
        <img
          class="carousel__image"
          src="http://dn-img-page.kakao.com/download/resource?kid=chJoJc/hyLjfiEthl/g725sWc55RcZl2qZ6I5fcK"
        />
        <div class="carousel__description">
          <p>철벽 황제를 향한 청혼 프로젝트!</p>
        </div>
      </div>
      <div class="day-list">
        <div class="day-list__header">
          <div class="day-list__header-left">
            <p class="day-list__header-left-title">요일 연재 TOP</p>
            <p class="day-list__header-left-subtitle">(1,085)</p>
          </div>
          <div class="day-list__header-right">더보기 ></div>
        </div>
        <div class="day-list__nav">
          <div class="genre-nav__list">
            <div class="genre-nav__item">월</div>
            <div class="genre-nav__item">화</div>
            <div class="genre-nav__item">수</div>
            <div class="genre-nav__item">목</div>
            <div class="genre-nav__item">금</div>
            <div class="genre-nav__item">토</div>
            <div class="genre-nav__item">일</div>
            <div class="genre-nav__item">완결</div>
          </div>
        </div>
        <div class="day-list__content">
          <div class="sniffet-list">
            <div class="sniffet">
              <div class="sniffet-image">
                <img
                  src="http://dn-img-page.kakao.com/download/resource?kid=dAtlY/hyATpI9YDi/0TS5mPhtYK9kVvJcgiV6b0&filename=th2"
                  class="sniffet-image__image"
                />
                <div class="sniffet-image__detail">TOP</div>
              </div>
              <div class="sniffet-description">
                <p class="sniffet-title">롱리브더킹</p>
                <p class="sniffet-view-count">235만명</p>
              </div>
            </div>
            <div class="sniffet">
              <div class="sniffet-image">
                <img
                  src="http://dn-img-page.kakao.com/download/resource?kid=dAtlY/hyATpI9YDi/0TS5mPhtYK9kVvJcgiV6b0&filename=th2"
                  class="sniffet-image__image"
                />
                <div class="sniffet-image__detail">TOP</div>
              </div>
              <div class="sniffet-description">
                <p class="sniffet-title">롱리브더킹</p>
                <p class="sniffet-view-count">235만명</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
