<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/slideshow.css">
</head>
<body>
    <%- include('./header.ejs') %>
    <%- include('./mainTabbar.ejs') %>
    <div class="container">
        <div class="content-box">
            <div class="webtoon-tabbar">
                <ul>
                    <li>홈</li>
                    <li>요일연재</li>
                    <li>웹툰</li>
                    <li>소년</li>
                    <li>드라마</li>
                    <li>로맨스</li>
                    <li>로판</li>
                    <li>액션무협</li>
                    <li>BL/GL</li>
                </ul>
            </div>
        </div>
        <%- include('./slideshow.ejs') %>
        <div class="content-box-with-title">
            <div class="content-title">
                <div class="content-title-text">
                    요일 연재 TOP
                </div>
                <div class="more">
                    더보기
                    <img src="https://static-page.kakao.com/static/common/ic-more-gray.svg?639494b81c8127013d0e627243aee94e" class="css-fvmobz">
                </div>
            </div>
            <div class="contents">
                adf;kaljs
            </div>

        </div>
        <div class="content-box-with-title">
            <div class="content-title">
                <div class="content-title-text">
                    요일 연재 TOP
                </div>
                <div class="more">
                    더보기
                    <img src="https://static-page.kakao.com/static/common/ic-more-gray.svg?639494b81c8127013d0e627243aee94e" class="css-fvmobz">
                </div>
            </div>
            <div class="contents">
                adf;kaljs
            </div>

        </div>
        <div class="content-box-with-title">
            <div class="content-title">
                <div class="content-title-text">
                    요일 연재 TOP
                </div>
                <div class="more">
                    더보기
                    <img src="https://static-page.kakao.com/static/common/ic-more-gray.svg?639494b81c8127013d0e627243aee94e" class="css-fvmobz">
                </div>
            </div>
            <div class="contents">
                adf;kaljs
            </div>

        </div>
        <div class="content-box-with-title">
            <div class="content-title">
                <div class="content-title-text">
                    요일 연재 TOP
                </div>
                <div class="more">
                    더보기
                    <img src="https://static-page.kakao.com/static/common/ic-more-gray.svg?639494b81c8127013d0e627243aee94e" class="css-fvmobz">
                </div>
            </div>
            <div class="contents">
                adf;kaljs
            </div>

        </div>
        <div class="content-box-with-title">
            <div class="content-title">
                <div class="content-title-text">
                    요일 연재 TOP
                </div>
                <div class="more">
                    더보기
                    <img src="https://static-page.kakao.com/static/common/ic-more-gray.svg?639494b81c8127013d0e627243aee94e" class="css-fvmobz">
                </div>
            </div>
            <div class="contents">
                adf;kaljs
            </div>

        </div>
    </div>
</body>
</html>
