<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 | 카카오페이지</title>
</head>
<body>
    <div id="root">
        <div id = "header">
            <img src="/images/title_logo.png">

            <div id = "login_box">
                <div class = "inner_box">
                    <input type="text" size="15">
                    <img class="search_btn" src="/images/btn_search.png">
                </div>
                <span class="">캐시충전 | 로그인</span>
            </div>

            <nav class = "top_nav">
                <ul>
                    <li>
                        <img src="https://static-page.kakao.com/static/pc/menu_home.svg?fac7abe73b67dd1eb997d70a2c52d4d0" alt="홈" class="css-1sr68ml">
                    </li>
                    <li>
                        <img src="https://static-page.kakao.com/static/pc/menu_toon.svg?42b75d406ec543b2fcf64e35287f0724" alt="웹툰/만화" class="css-1sr68ml">
                    </li>
                    <li>
                        <img src="https://static-page.kakao.com/static/pc/menu_novel.svg?296e815be15f5e5edcdddb865f9863cd" alt="웹소설/장르" class="css-1sr68ml">
                    </li>
                    <li>
                        <img src="https://static-page.kakao.com/static/pc/menu_vod.svg?0df7689ed8c083054bd9949aed77c589" alt="영화" class="css-1sr68ml">
                    </li>
                    <li>
                        <img src="https://static-page.kakao.com/static/pc/menu_broadcast.svg?a6b4779526f1fa5dbeb1516607770b16" alt="예능/드라마" class="css-1sr68ml">
                    </li>
                    <li>
                        <img src="https://static-page.kakao.com/static/pc/menu_book.svg?8fd0c5dc69d357fa23dd953d3b7e71aa" alt="책" class="css-1sr68ml">
                    </li>
                </ul>
            </nav>
        </div>
        test
    </div>
</body>
</html>