<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/normalize.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>kakaopage</title>
  </head>
  <body>
    <script src="javascripts/main.js"></script>
    <div class="header">
      <div class="header__logo">kakaopage</div>
      <div class="header__status">
        <div class="search-bar"></div>
        <div class="user-status user-status--logout">
          <div class="user-status__cash-charge-button">캐쉬충전</div>
          <div class="user-status__login-button">로그인</div>
        </div>
        <!-- <div class="user-status user-status--login">puba님</div> -->
      </div>
    </div>
    <div class="header-nav">
      <ul class="header-nav__list"></ul>
    </div>
    <div class="webtoon-genre-nav">
      <ul class="genre-nav__list">
        <li class="genre-nav__item">홈</li>
        <li class="genre-nav__item">요일연재</li>
        <li class="genre-nav__item">웹툰</li>
      </ul>
    </div>
  </body>
</html>
