
/* 기본 컨텐츠 box */
.card{
  background-color:#ffffff;
  margin-top:10px;
  height:100%;
}
.first{
  border-radius: 8px 0 0 8px;
}
.third{
  border-radius: 0 8px 8px 0;
}
.counts{
  background-color: var(--main-yellow);
  border-radius: 10px;
  font-size: 18px;
  padding: 4px;
}

.page{
    display: none;
    margin: 0px auto;
    width:720px;
    margin-top: 10px;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.mySlides {display: none;}
.daySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* slideshow 공통 */
.slide-num {
  color: #f2f2f2;
  font-size: 21px;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  bottom: 47px;
}

.slide-title {
  color: #ffffff;
  font-size: 35px;
  margin-left : 20px;
  position: absolute;
  bottom: 100px;
  width: 50%;
  text-align: left;
}

.slide-subtext{
  color: #ffffff;
  font-size: 22px;
  margin-left : 20px;
  position: absolute;
  bottom: 60px;
  width: 50%;
  text-align: left;
}

.slide-explain{
  position: absolute;
  font-size: 20px;
  bottom: 0;
  width:100%;
  height: 45px;
  text-align: center;
  line-height: 2.2;
  background-color: var(--main-yellow);
}

/* minishow 영역 */
.minishow-container{
  width: 338px;
  margin: 15px auto;
  position:relative;
}
.minishow-container>img{
  width:100%;
}
.minishow-title {
  color: #ffffff;
  font-size: 20px;
  margin-left : 17px;
  width: 50%;
  text-align: left;
  position: absolute;
  bottom: 60px;
}
.minishow-subtext{
  color: #ffffff;
  font-size: 15px;
  margin-left : 17px;
  width: 50%;
  text-align: left;
  position: absolute;
  bottom: 37px;
}
.minishow-subtext>img{
  height:16px;
}
.minishow-explain{
  font-size: 13px;
  width:100%;
  height: 25px;
  text-align: center;
  line-height: 1.9;
  background-color: var(--main-yellow);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 0.5em 0.5em;
}

/* 공통 썸네일 영역 */
.thumb{
  width: 120px;
  height: 120px;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.1);
}
.thumb>img{
  width: 120px;
  height: 120px;
  border-radius: 8px 8px 0 0;
}
.thumb-bottom{
  background-color:#242526;
  border-radius: 0 0 8px 8px;
  height:30px;
}
.bottom img{
  height: 14px;
  margin-left:3px;
  margin-right:3px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}