
.page{
    display: none;
    margin: 0px auto;
    width:720px;
    margin-top: 10px;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.mySlides {display: none;}
.daySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* slideshow 공통 */
.slide-num {
  color: #f2f2f2;
  font-size: 21px;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  bottom: 47px;
}

.slide-title {
  color: #ffffff;
  font-size: 35px;
  margin-left : 20px;
  position: absolute;
  bottom: 100px;
  width: 50%;
  text-align: left;
}

.slide-subtext{
  color: #ffffff;
  font-size: 22px;
  margin-left : 20px;
  position: absolute;
  bottom: 60px;
  width: 50%;
  text-align: left;
}

.slide-explain{
  position: absolute;
  font-size: 20px;
  bottom: 0;
  width:100%;
  height: 45px;
  text-align: center;
  line-height: 2.2;
  background-color: var(--main-yellow);
}

/* 기본 컨텐츠 box */
.card{
  width:690px;
  background-color:#ffffff;
  margin-top:10px;
  padding: 15px;
  text-align: center;
  height:100%;
}
.first{
  border-radius: 8px 0 0 8px;
}
.third{
  border-radius: 0 8px 8px 0;
}
.counts{
  background-color: var(--main-yellow);
  border-radius: 10px;
  font-size: 18px;
  padding: 4px;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}