
/* 기본 컨텐츠 box */
.card{
  background-color:#ffffff;
  margin-top:10px;
  height:100%;
}
.first{
  border-radius: 8px 0 0 8px;
}
.third{
  border-radius: 0 8px 8px 0;
}
.counts{
  background-color: var(--main-yellow);
  border-radius: 10px;
  font-size: 18px;
  padding: 4px;
}

.page{
    display: none;
    margin: 0px auto;
    width:720px;
    margin-top: 10px;
}

.footer{
  margin: 0px auto;
  width: 720px;
  margin-top:10px;
  margin-bottom:50px;
}
.footer>img{
  display: block;
  margin: 0px auto;
  width:70%;
}
.footer-text{
  margin-bottom:10px;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.mySlides {display: none;}
.daySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0 auto;
  width: 720px;
}
.slide-box{
  width:100%;
  margin: 0 auto;
  overflow-x: hidden;
}
.slide-content{
  float: left;
  width:720px;
}
.slide-btn{
  position: absolute;
  top: 50%;
  cursor: pointer;
  padding: 0px;
}
.prev{
  left : 0;
  margin-left: 20px;
}
.next{
  right : 0;
  margin-right: 20px;
}

/* slideshow 공통 */
.slide-num {
  color: #f2f2f2;
  font-size: 23px;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  bottom: 50px;
}

.slide-title {
  color: #ffffff;
  font-size: 30px;
  margin-left : 20px;
  position: absolute;
  top: 345px;
  width: 50%;
  text-align: left;
}

.slide-subtext{
  color: #ffffff;
  font-size: 20px;
  margin-left : 20px;
  position: absolute;
  top: 390px;
  width: 50%;
  text-align: left;
}

.slide-explain{
  position: absolute;
  font-size: 20px;
  bottom: 0;
  width:720px;
  height: 45px;
  text-align: center;
  line-height: 2.2;
  top: 435px;
  background-color: var(--main-yellow);
}

/* minishow 영역 */
.minishow-container{
  width: 332px;
  margin: 15px auto;
  position:relative;
}
.minishow-container>img{
  width:100%;
}
.minishow-title {
  color: #ffffff;
  font-size: 20px;
  margin-left : 17px;
  width: 50%;
  text-align: left;
  position: absolute;
  bottom: 60px;
}
.minishow-subtext{
  color: #ffffff;
  font-size: 15px;
  margin-left : 17px;
  width: 50%;
  text-align: left;
  position: absolute;
  bottom: 37px;
}
.minishow-subtext>img{
  height:16px;
}
.minishow-explain{
  font-size: 13px;
  width:100%;
  height: 25px;
  text-align: center;
  line-height: 1.9;
  background-color: var(--main-yellow);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 0.5em 0.5em;
}

/* 공통 랭킹 레이아웃 영역 */
.ranking-img{
  position:relative;
}
.ranking-thumb>img{
  width:85px;
}
.ranking-clock{
  position: absolute;
  top: 0;
  left: 0;
}
.ranking-clock>img{
  width:28px;
}
.ranking-text{
  padding: 12px;
}

/* 공통 썸네일 영역 */
.thumb{
  width: 120px;
  height: 120px;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.1);
}
.thumb>img{
  width: 120px;
  height: 120px;
  border-radius: 8px 8px 0 0;
}
.thumb-bottom{
  background-color:#242526;
  border-radius: 0 0 8px 8px;
  height:30px;
}
.bottom img{
  height: 14px;
  margin-left:3px;
  margin-right:3px;
}

/* Slide animation */
