html, body, div, p, span,
strong, b, em, iframe, pre,
h1, h2, h3, h4, h5, h6, img, dl, dt, dd,
fieldset, form, legend, label, table, caption,
thead, tbody, tfoot, tr, th, td, ul, ol, li, a,
select, textarea {margin: 0;padding: 0; border: 0 none; }

.top_nav{
    width:100%;
    margin: 0 auto;
    border-bottom:1px solid lightgray;
    font-size : 21px;
    font-weight: 500;
}

.top_nav ul{
    height: 50px;
    width:800px;
    margin: 0 auto;
}

.top_nav li{
    float: left;
    width:16%;
    height:100%;
    text-align:center;
    line-height:50px;
    list-style: none;
}

#root{
    background-color: rgb(233, 233, 233);
}

#header{
    margin-top: 15px;
    display: relative;
    background-color: white;
    text-align : center;
}

#login_box{
    position: absolute;
    top: 0;
    right: 0;
    padding: 35px;
}

.inner_box{
    display:inline-block;
    border:1px solid lightgray;
    border-radius: 20px;
    padding:2px;
}

.inner_span{
    font-size:20px;
    margin-left:5px;
    color:rgb(150, 150, 150);
}

input{
    font-size:17px;
    line-height:0.8;
    border: 0px;
    box-shadow: none;
    outline: none;
    margin-left:5px;
    margin-bottom:2px;
}

.search_btn{
    width:18px;
    height:18px;
    padding: 5px 3px 0 2px;
}