html, body, div, p, span,
strong, b, em, iframe, pre,
h1, h2, h3, h4, h5, h6, img, dl, dt, dd,
fieldset, form, legend, label, table, caption,
thead, tbody, tfoot, tr, th, td, ul, ol, a,
select, textarea {margin: 0; padding: 0; border: 0 none; }
body{
    background-color:#eee;
}

:root {
    --main-bg-color: #eee;
    --main-yellow: #FFCE33;
}

a, a:visited, a:link, a:focus, a:active{
    color : gray;
    text-decoration: none;
}

input{
    font-size:17px;
    line-height:0.8;
    border: 0px;
    box-shadow: none;
    outline: none;
    margin-left:5px;
    margin-bottom:2px;
}
.text-ellipsis{
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.letter-spacing{
    letter-spacing : 0.1em;
}
.text-center{
    text-align:center;
}
.bg-color__main{
    background-color:var(--main-bg-color);
}
.bg-color__content{
    background-color:var(--main-yellow);
}
.gray{
    color: rgb(150, 150, 150);
}
.yellow{
    color: var(--main-yellow);
}
.btn{
    cursor: pointer;
}
.pd-3{
    padding: 0.3em;
}
.pd-5{
    padding: 0.5em;
}
.pd-t-10{
    padding-top:1em;
}
.pd-tb-5{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.pd-10{
    padding: 1em;
}
.pd-15{
    padding: 1.5em;
}
.pd-20{
    padding: 2em;
}
.pd-30{
    padding: 3em;
}
.pd-40{
    padding: 4em;
}
.top-0{
    top: 0;
}
.right-0{
    right: 0;
}
.flex{
    display: flex;
    flex: 1;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}
.flex-balanced{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.fixed{
    position: fixed
}
.absolute{
    position: absolute;
}
.inline-block{
    display: inline-block;
}
.block{
    display: block;
}
.mg-1px{
    margin: 1px;
}
.mg-top-3{
    margin-top:0.3em;
}
.mg-top-10{
    margin-top: 1em;
}
.mg-top-20{
    margin-top: 2em;
}
.mg-top-25{
    margin-top: 2.5em;
}
.mg-left-5{
    margin-left: 0.5em;
}
.mg-left-10{
    margin-left: 1em;
}
.mg-right-5{
    margin-right: 0.5em;
}
.mg-right-10{
    margin-right: 1em;
}
.bd-radius-5{
    border-radius: 0.5em;
}
.bd-radius-10{
    border-radius: 1em;
}
.bd-1-lg{
    border: 1px solid lightgray;
}
.font-20{
    font-size: 20px;
}
.font-14{
    font-size: 14px;
}
.font-15{
    font-size: 15px;
}
.font-30{
    font-size: 30px;
}
.font-title{
    font-size: 20px;
}
.font-main{
    font-size: 18px;
}
.font-small{
    font-size: 14px;
}

#header{
    width:100%;
    position: fixed;
    top:0;
    background-color: #ffffff;
    text-align : center;
    z-index:200;
}

.inner-span{
    font-size:20px;
    margin-left:10px;
    color:rgb(150, 150, 150);
}

.search-btn{
    width:18px;
    height:18px;
    padding: 3px 4px 0 2px;
}

#top-nav{
    position:fixed;
    top:120px;
    width:100%;
    margin: 0 auto;
    background-color:#ffffff;
    border-bottom:1px solid lightgray;
    font-size : 21px;
    font-weight: 500;
    z-index:200;
}

#top-nav ul{
    width:720px;
    height:65px;
    margin: 0px auto;
    display: flex;
    background-color: #ffffff;
}

#top-nav li{
    text-align:center;
    margin: 0px auto;
    width:100%;
    font-size:20px;
    list-style: none;
    line-height: 50px;
    cursor: pointer;
}

/* 탭 선택 시 강조 */
.active{
    border-bottom: 3px solid var(--main-yellow);
}
.bd-bt-gray{
    border-bottom:1px solid var(--main-bg-color);
}

#blank{
    display:none;
    text-align:center;
    margin-top:500px;
}

#contents{
    margin: 0px auto;
    margin-top: 195px;
}

.contents-ul{
    width:720px;
    margin: 0px auto;
    display: flex;
    background-color: #ffffff;
}

.contents-li{
    text-align:center;
    margin: 0px auto;
    width:100%;
    list-style: none;
    line-height: 50px;
    cursor: pointer;
    color:rgb(155, 155, 155);
}

.contents-nav .c-active{
    color:black;
}
