body {
  background: #dddddd;
}

p {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.header {
  position: relative;
  height: 100px;
  padding-top: 20px;
  background: white;
  box-sizing: border-box;
}
.header__logo {
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
}

.header__status {
  position: absolute;
  top: 30px;
  right: 20px;
  height: 30px;
}

.search-bar {
  float: left;
  border-radius: 15px;
  border: 1px solid #bbbbbb;
  width: 170px;
  height: 100%;
}

.user-status {
  float: left;
  height: 100%;
  font-size: 22px;
  color: #aaaaaa;
  margin-left: 10px;
  padding: 3px;
}

.user-status__cash-charge-button {
  float: left;
  border-right: 1px solid #aaaaaa;
  margin-right: 4px;
  padding-right: 4px;
}

.user-status__login-button {
  float: left;
}

.user-status--login {
}

.header-nav {
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
}

.header-nav__list {
  box-sizing: border-box;
  width: 720px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.header-nav__item {
  flex: 1 1 auto;
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

.header-nav__item--clicked {
  border-bottom: solid 4px#ffd200;
}

.webtoon-genre-nav,
.web-novel-genre-nav,
.movie-genre-nav {
  width: 720px;
  background: #ffffff;
  margin: 15px auto 0 auto;
}

.genre-nav__list {
  box-sizing: border-box;
  padding: 0;
  display: flex;
}

.genre-nav__item {
  flex: 1 1 auto;
  font-size: 20px;
  padding: 20px 10px;
  text-align: center;
}

.carousel {
  position: relative;
  width: 720px;
  height: 480px;
  box-sizing: border-box;
  margin: 15px auto 0 auto;
}

.carousel__image {
  width: 720px;
  height: 480px;
  box-sizing: border-box;
}

.carousel__description {
  position: absolute;
  bottom: 0;
  width: 720px;
  height: 40px;
  background: #ffd200;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-list {
  background: #ffffff;
  width: 720px;
  margin: 15px auto 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

.day-list__header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-list__header-left {
  display: flex;
  align-items: center;
}

.day-list__header-left-title {
  font-size: 22px;
  margin-right: 10px;
}

.day-list__header-left-subtitle {
  color: #aaaaaa;
}

.day-list__header-right {
  font-size: 15px;
  color: #aaaaaa;
}

.day-list-nav__list {
  box-sizing: border-box;
  padding: 0;
  display: flex;
}

.day-list-nav__item {
  flex: 1 1 auto;
  font-size: 20px;
  padding: 20px 10px;
  text-align: center;
}

.day-list__nav {
  width: 690px;
  background: #ffffff;
  margin: 15px auto 0 auto;
}

.day-list__content {
}

.sniffet-list {
  display: flex;
  justify-content: space-between;
}

.sniffet {
}

.sniffet-image {
  width: 120px;
  border: #cccccc 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sniffet-image__image {
  width: 120px;
  border-radius: 10px 10px 0 0;
}

.sniffet-image__detail {
  background: #000000;
  color: #ffd200;
  padding: 5px;
  border-radius: 0 0 10px 10px;
}

.sniffet-title {
}
