<!DOCTYPE html>
<html>

<head>
    <title>홈 | 카카오페이지</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/body.css" />
</head>

<body>
    <header>
        <h1 id="logo">
            <img id="logo-img"
                src="https://static-page.kakao.com/static/pc/mainLogo.png?cbbbd3f1a3ca7834cb8fc1adf0115a6c"
                alt="kakaopage logo">
        </h1>

        <div id="search-form">
            <input placeholder="" value="" maxlength="50" />
            <img id="search-btn"src="https://static-page.kakao.com/static/pc/btn_search.png?a8ce9e4eba0250e52d4570c605f79f9a">
            <span style="font-family: sans-serif;color:rgb(153, 153, 153)">캐시충전</span>
            <span style="font-family: sans-serif;color:rgb(153, 153, 153)">로그인</span>
        </div>

        <nav id="top-nav"></nav>
    </header>

    <div id="container">
        <nav id="genre-nav"></nav>
        <!-- JS반복문으로 바꾸기 -->
        <div id="home" class="genre-contents">
            <div id="carousel"></div>
        </div>
        <div id="weekly" class="genre-contents" style="display: none;">
            요일연재 페이지 입니다.
        </div>
        <div id="webtoon" class="genre-contents" style="display: none;">
            웹툰 페이지 입니다.
        </div>
        <div id="boy" class="genre-contents" style="display: none;">
            소년 페이지 입니다.
        </div>
        <div id="drama" class="genre-contents" style="display: none;">
            드라마 페이지 입니다.
        </div>
        <div id="romance" class="genre-contents" style="display: none;">
            로맨스 페이지 입니다.
        </div>
        <div id="romance-fantasy" class="genre-contents" style="display: none;">
            로판 페이지 입니다.
        </div>
        <div id="action" class="genre-contents" style="display: none;">
            액션무협 페이지 입니다.
        </div>
        <div id="BLGL" class="genre-contents" style="display: none;">
            BL/GL 페이지 입니다.
        </div>
        
    </div>

    <script src="/js/topNav.js"></script>
    <script src="/js/genreNav.js"></script>
    <script src="/js/carousel.js"></script>
    
</body>

</html>